<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <link rel="stylesheet" href="/assets/styles/creartorneo.css">
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <main>
    <header class="torneo-header">
      <h1>Cargar partido</h1>
    </header>

    <section class="creacion-torneo">
      <form method="POST" action="" class="crear-form">

        <label for="id-torneo">Torneo</label>
        <select name="id-torneo" id="id-torneo">
            <option value={{torneo.id}}>{{torneo.nombre}}</option>
        </select>

        {# <label for="id-fecha">Fecha</label>
        <select name="id-fecha" id="id-fecha">
            {% for fecha in fechas %}
                <option value={{fecha.id}}>{{fecha.numero_fecha}}</option>
            {% endfor %}
        </select> #}

        <label for="id-equipo-local">Equipo Local</label>
        <select name="id-equipo-local" id="id-equipo-local">
            {% for equipo in equiposTorneo %}
                <option value={{equipo.id}}>{{equipo.equipo[0].nombre}}</option>
            {% endfor %}
        </select>

        <label for="goles-local">Goles Local
          <input type="number" id="goles-local" name="goles-local" required>
        </label>

        <label for="id-equipo-visitante">Equipo Visitante</label>
        <select name="id-equipo-visitante" id="id-equipo-visitante">
            {% for equipo in equiposTorneo %}
                <option value={{equipo.id}}>{{equipo.equipo[0].nombre}}</option>
            {% endfor %}
        </select>

        <label for="goles-visitante">Goles Visitante
          <input  type="number" id="goles-visitante" name="goles-visitante" required>
        </label>

        <label for="fecha">Fecha
          <input type="date" id="fecha" name="fecha" required>
        </label>

        <label for="hora">Hora
          <input type="time" id="hora" name="hora" required>
        </label>

        <button type="submit">Cargar resultado</button>
      </form>

    </section>
  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>
