<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parts/head.view.twig' %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
    
</head>
<body>
    <!--HEADER-->
    {% include 'parts/header.view.twig' %}
    
    <main class="mainIndex">
        <!-- Resultados Header -->
        {# <header class="resultados-header">
            <div class="carousel-arrow left">‹</div>
            <div class="resultados-carousel">
                <h2>Resultados de Partidos</h2>
                <!-- Aquí irán los resultados del carrusel -->
            </div>
            <div class="carousel-arrow right">›</div>
        </header> #}

        <!-- Layout con tabla de puntajes y noticias -->
        <section class="tablaPuntajes">
            <!-- Tabla de Puntajes -->
            <h2 class="tituloTablaPuntajes"> Primera division </h2>
            <table class="tabla">
                <thead>
                    <tr>
                        <th class="pos">POS</th>
                        <th class="equipo">Equipo</th>
                        <th class="pj">PJ</th>
                        <th class="gd">GD</th>
                        <th class="pts">PTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipoTorneo in equipos %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{equipoTorneo.equipo[0].nombre}}</td>
                        <td>{{equipoTorneo.partidosJugados}}</td>
                        <td>{{equipoTorneo.diferencia}}</td>
                        <td>{{equipoTorneo.puntos}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="seccionNoticias">
            <h2 class="tituloNoticias">Noticias</h2>
            <section class="todasLasNoticias"> <!--Aca se agregaria con JS-->
                <article class="noticia">
                    <h3>Noticia 1</h3>
                    <figure>
                        <img src="https://via.placeholder.com/400x300" alt="Ejemplo de imagen">
                        <figcaption>Descripcion de la noticia.</figcaption>
                    </figure>
                </article>
                <article class="noticia">
                    <h3>Noticia 1</h3>
                    <figure>
                        <img src="https://via.placeholder.com/400x300" alt="Ejemplo de imagen">
                        <figcaption>Descripcion de la noticia.</figcaption>
                    </figure>
                </article>
                <article class="noticia">
                    <h3>Noticia 1</h3>
                    <figure>
                        <img src="https://via.placeholder.com/400x300" alt="Ejemplo de imagen">
                        <figcaption>Descripcion de la noticia.</figcaption>
                    </figure>
                </article>
                <article class="noticia">
                    <h3>Noticia 1</h3>
                    <figure>
                        <img src="https://via.placeholder.com/400x300" alt="Ejemplo de imagen">
                        <figcaption>Descripcion de la noticia.</figcaption>
                    </figure>
                </article>
            </section>
                <!-- Añadir más artículos -->
        </section>

    </main>

    <!--FOOTER-->
    {% include 'parts/footer.view.twig' %}
</body>
</html>
